body{
    background-color:aliceblue;                      
}    
.F{
    display: flex;
}
.left{
    flex: 20%;
    border: solid 2px black;
    padding: 15px;
}
.right{
    flex: 80%;
    border: solid 2px  black;
    font-size: large;
}
.name{
    text-align: center;
    font-size: large;
    font-family:sans-serif
}
.padding1{
    padding: 50px;
}